# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
server/node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log

# OS
.DS_Store